:root {
    --navbar-height: 45px;
    --main-padding: 1em;
  }

body, html, #root {
    height: 100%;
  }

main {
    height: calc(100% - var(--navbar-height) - calc(2 * var(--main-padding)));
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.container-v, .mood-form  {
    display: flex;
    flex-direction: column;
}

.mood-form {
    margin: 12% 0;
    height: 100%;
    align-self: center;
    width: 100%;
    max-width: 700px;
    /* min-width: 300px; */
    justify-content: space-between;
}

.container-h, .form-row, .mood-form-options {
    display: flex;
}

.mood-form-options {
    justify-content: center;
}

.heading-center {
    text-align: center;
}

.form-row {
    margin: 1em;
}

.form-row-radio {
    justify-content: space-between;
}

.form-row-btn {
    justify-content: center;
}

.btn {
    width: 8em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.5em;
}

.mood-form input[type="radio"] {
    opacity: 0;
    width: 0;
    position: fixed;
}

.face-label {
    font-size: 5em;
    opacity: 30%;
}

.mood-form input[type="radio"]:checked + .face-label {
    opacity: 90%;
}

.mood-form input[type="radio"]:focus + .face-label {
    opacity: 100%;
}

.face-label:hover {
    opacity: 100%;
}

nav {
    height: var(--navbar-height);
    background-color: blueviolet;
    color: white;
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
}

.nav-link {
    color:white;
    text-decoration: none;
    margin: 0 2px;
}

.chart {
    display: flex;
    justify-content: center;
}
